* {
    background: #faf8f8;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .title { 
    font-weight: bold; 
    color: #ce1313;
  }
  .content {
    padding-top: 100px;
    font-family: 'Helvetica Neue';
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .t{
    padding-bottom: 10px;
  }
 